rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stats/{stat} {
      allow read: if true;
      allow write: if false;
    }
    match /users/{user} {
      allow read: if false;
      allow write: if false;
    }
  }
}